.resultPage_container{
    padding : 70px 30px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.slotTimeInfo{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

.white-bg{
    background-color: rgb(220, 220, 220);
}

.grey-bg{
    background-color: rgb(255, 255, 255);
}

.slotTime{
    width: 20%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeForTour{
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PersonGoing{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.bookTime{
    padding : 10px 15px;
    font-size: 18px;
    background-color: rgb(109, 22, 190);
    color: white;
    border: none;
    border-radius: 20px;
    position: fixed;
    bottom: 50px; 
    right: 40px;
    cursor : pointer;
}

.bookTime:hover{
    scale:1.05;
    background-color:  rgb(84, 14, 149);
}

@media screen and (max-width : 450px) {
    .slotTimeInfo{
        width: 90%;
    }
}